body {
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);

  font-family: "Arvo", serif;
  color: rgba(0, 0, 0, 0.7);
}

.mainHeading {
  text-align: center;
  margin: 2%;
  font-style: italic;
}
